@use 'hero';
@use 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Victorian;
}

body{
    background-color: variables.$bgColor;
}

@font-face{
    font-family: Victorian;
    src: url(../../assets/fonts/VictorianText.ttf);
}



@mixin text($fontSize: 40px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variables.$mainTextColor;
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variables.$secondaryTextColor;
}

.text{
    @include text();

    &--big{
        @include text(18px);
    }

    &--small{
        @include text(12px);
    }

    &--link{
        @include text(18px);
        color: variables.$secondaryTextColor;
        text-decoration: underline;
    }
}

.title{
    @include title();

    &--big{
        @include title(44px);
    }

    &--small{
        @include title(28px);
    }
}