@use 'hero';
@use 'header';
@use 'variables';
@use 'img-text-section';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: variables.$bgColor;

    li{
        list-style: none;
    }
}

@font-face{
    font-family: Victorian;
    src: url(../../assets/fonts/VictorianText.ttf);
}

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}



@mixin text($fontSize: 40px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variables.$mainTextColor;
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variables.$secondaryTextColor;
}

.text{
    @include text();

    &--victorian{
        font-family: Victorian;
    }

    &--big{
        @include text(18px);
    }

    &--small{
        @include text(12px);
    }

    &--link{
        @include text(18px);
        color: variables.$secondaryTextColor;
        text-decoration: underline;
    }

    &--lighter{
        color: rgba(variables.$secondaryTextColor, .6);
    }
}

.title{
    @include title();

    &--big{
        @include title(44px);
    }

    &--small{
        @include title(28px);
    }
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variables.$bgColor;
    background-color: rgba(variables.$secondaryTextColor,1);
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 14px;
    letter-spacing: 1px;
    text-decoration: none;
    border: 1px solid variables.$bgColor;

    &:hover{
        background-color: rgba(variables.$secondaryTextColor, .7);
        transition: ease .4s;
    }

    &--trailer {
    flex-direction: column;
    height: auto;
    gap: 8px;
    text-align: center;
    padding: 0 0 0 0;
    border: 1px solid variables.$btnColor;
    margin: 0;
    background-color: variables.$btnColor;

    &:hover{
        background-color: rgba(variables.$btnColor, .7);
        transition: ease .4s;
    }


        img {
        max-width: 140px;
        width: 100%;
        height: auto;
        }

        span{
            font-size: 22px;
        }
    }
}
